@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background: hsl(234, 100%, 95%);
    display:flex;
    flex-direction: column;
    justify-content: center; /*brings content to the center vertically*/
    align-items: center;     /*brings content to center horizontally*/
    height: 100vh;           /*takes full height of the viewport*/
}

.card_container{
    max-width: 40vh;
    max-height: 80vh;
    background:hsl(0, 0%, 100%);
    display:flex;
    flex-direction: column ;
    border-radius: 20px;
    margin: 50px auto;
    box-shadow:
  4.5px 4.5px 3.6px rgba(0, 0, 0, 0.024),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  30.1px 30.1px 24.1px rgba(0, 0, 0, 0.046),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
}

.qr_container{
    margin: 1rem 1rem;
    max-height: 60%;
    min-height: 50%;
    display: flex;
flex-direction: column;
justify-content: center;
}
.qr_container img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.text_container{
    background: (0, 0%, 100%);
    padding: 0.5rem 1.5rem 2rem 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text_container .heading{
    font-weight: 700;
    font-size: large;
    color: hsl(218, 44%, 22%);
}
.text_container p{
    color: hsl(214, 13%, 78%);
    padding: 0.5rem 0;
    font-weight: 400;
}

.attribution{
    text-align: center;
}
